p {
    font-size: 18px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.bodyn {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.letter {
    font-size: 24px;
    margin-top: 20px;
}
    
.word {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
